/* --- CONFIGURACIÓN GENERAL --- */
body {
    font-family: 'Source Sans 3', sans-serif;
    margin: 0;
    color: #333;
    background-image: url('images/lince_fondo.jpg.webp');
    background-size: cover; /* Para que la imagen cubra todo el fondo */
    background-position: center center; /* Para que la imagen esté centrada */
    background-attachment: fixed; /* la imagen no se mueve al hacer scroll */
}
/* Esto crea una capa blanca semitransparente sobre la imagen */
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7); /* Blanco con 60% de opacidad - más transparente */
    z-index: -1; /* Coloca el velo detrás del contenido pero encima de la imagen de fondo */
}

h1 {
    color: #0d5e17; /* Un color oscuro para el texto */
}

h1, h2 {
    font-weight: 700;
}

p {
    line-height: 1.6;
    font-size: 1.1rem;
}


/* --- ESTRUCTURA Y CAPAS PRINCIPALES --- */
/* Esta regla unificada asegura que todos los contenedores principales
   estén por encima del velo de fondo. */
.main-header, .main-footer, #scrolly-container {
    position: relative;
    z-index: 1;
}


/* --- CABECERA Y PIE DE PÁGINA --- */
.main-header, .main-footer {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 20px;
    text-align: center;
}

.main-header h1 {
    font-size: 2.5rem;
}

/* --- ESTRUCTURA SCROLLYTELLING --- */
#scrolly-container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}

.scroll-text {
    width: 45%;
    padding: 0 5%;
}

.sticky-chart {
    width: 55%;
    position: -webkit-sticky;
    position: sticky;
    top: 10vh; /* Centrado verticalmente */
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.step {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0;
    opacity: 0.3;
    transition: opacity 0.5s;
}

.step.is-active {
    opacity: 1;
}

/* --- ESTILOS DEL GRÁFICO (D3) --- */
.bar {
    fill: #4682B4; 
    transition: fill 0.5s;
}

.bar.highlight {
    fill: #2E8B57; 
}

.bar-label {
    text-anchor: middle; /* Centra el texto horizontalmente */
    font-size: 0.9rem;
    font-weight: 600;
    fill: #555; /* Un color de texto un poco más suave */
}

.axis-label {
    font-size: 0.9em;
    fill: #555;
}

.tick text {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 1.1em;
}